/*index.html styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    font-family: arial, helvetica, verdana, sans-serif;
    background: grey;
}

header{
    
}

nav{
    
}

#wrapper{
    
}

main{
    
}

aside{
    
}

footer{
    
}
